<div class="content">
	<div class="bio">
		<div class="bio-info-wrapper">
			<div class="bio-icon">
				<div class="icon-wrapper">
					<svg width="70px" height="70px">
						<circle r="35" cx="35" cy="35" fill="#FF9900"></circle>
						 <path d="M 5,35 C 20,10 50,10 65,35 C 50,60 20,60 5,35" fill="white"></path>
						 <circle r="15" cx="35" cy="35" fill="rgb(128, 175, 191)">
						 	<animate dur="30s" attributeName="cx" values="35; 35; 35; 35; 35; 24; 24; 35; 35; 35; 35; 35; 35; 46; 46; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35;" repeatCount="indefinite" />
						 	<animate dur="30s" attributeName="cy" values="35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 31; 31; 35; 35; 35; 39; 39; 35;" repeatCount="indefinite" /> 
						 </circle>
						 <circle r="4" cx="35" cy="35" fill="black">
						 	<animate dur="30s" attributeName="cx" values="35; 35; 35; 35; 35; 24; 24; 35; 35; 35; 35; 35; 35; 46; 46; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35;" repeatCount="indefinite"/>
						 	<animate dur="30s" attributeName="cy" values="35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 31; 31; 35; 35; 35; 39; 39; 35;" repeatCount="indefinite" /> 
						 </circle>
					</svg>
				</div>
			</div>
			<div class="bio-greeting">NICE TO MEET YOU</div>
			<div class="bio-img">
				<img src="img/me.jpg">
			</div>
			<div class="bio-info no-bot-margin">
				My name is Danny Dalton. I am a software developer living in San Francisco. I love to design and build secure and scalable modern web and mobile applications, both in and out of the cloud. I also create foward-thinking electronic music.
				<br/><br/>
				I recently graduated from Stanford University, and after two relatively short but eye-opening stints at early-stage startups Spinsetter and Leadfactors, I have started to look for part time as I begin a project of my own.
				<br/><br/>
				Currently I am looking for the next new challenge, so if need any you need any extra help or are starting a new project please <a href="mailto:dannyrdalton@gmail.com">contact me</a>.
			</div>
		</div>
	</div>
</div>