<div class="content">
	<div class="bio">
		<div class="bio-info-wrapper">
			<div class="bio-icon">
				<div class="icon-wrapper">
					<svg width="70px" height="70px">
						<circle r="35" cx="35" cy="35" fill="#FF9900"></circle>
						 <path d="M 5,35 C 20,10 50,10 65,35 C 50,60 20,60 5,35" fill="white"></path>
						 <circle r="15" cx="35" cy="35" fill="rgb(128, 175, 191)">
						 	<animate dur="30s" attributeName="cx" values="35; 35; 35; 35; 35; 24; 24; 35; 35; 35; 35; 35; 35; 46; 46; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35;" repeatCount="indefinite" />
						 	<animate dur="30s" attributeName="cy" values="35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 31; 31; 35; 35; 35; 39; 39; 35;" repeatCount="indefinite" /> 
						 </circle>
						 <circle r="4" cx="35" cy="35" fill="black">
						 	<animate dur="30s" attributeName="cx" values="35; 35; 35; 35; 35; 24; 24; 35; 35; 35; 35; 35; 35; 46; 46; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35;" repeatCount="indefinite"/>
						 	<animate dur="30s" attributeName="cy" values="35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 35; 31; 31; 35; 35; 35; 39; 39; 35;" repeatCount="indefinite" /> 
						 </circle>
					</svg>
				</div>
			</div>
			<div class="bio-greeting">NICE TO MEET YOU</div>
			<div class="bio-img">
				<img src="img/me.jpg">
			</div>
			<div class="bio-info no-bot-margin">
				My name is Danny Dalton. I am a software developer living in San Francisco. I love to design and build secure, scalable, and highly usable modern web and mobile applications. Music is my other passion; I create foward-thinking electronic music, run a weekly radio show, and DJ at venues around San Francisco.
				<br/><br/>
				I'm a Stanford graduate, and was a core front-end developer at <a href="https://stitchlabs.com" target="_blank">Stitch Labs</a> for almost 3 years. The last 6 months or so I've been on sabbatical to focus on some music-related pursuits.
				<br/><br/>
				However, lately I've been itching to expand my technical knowledge even further, and help to build an amazing product that will make an impact in people's lives. So please feel free to <a href="mailto:dannyrdalton@gmail.com">contact me</a> regarding any exciting opportunities.
			</div>
		</div>
	</div>
</div>