<div class="content">
	<div class="resume">
		<div class="skills-icon">
			<div class="icon-wrapper">
				<svg width="70px" height="70px">
					<circle r="35" cx="35" cy="35" fill="#FF9900"></circle>
					<g>
						<path d="M 5, 35 L 32.5, 10 L 32.5, 20 L 15, 35 L 32.5, 50 L 32.5, 60 L 5, 35 z" fill="rgb(70, 70, 70)" />
						<path d="M 65, 35 L 37.5, 10 L 37.5, 20 L 55, 35 L 37.5, 50 L 37.5, 60 L 65, 35 z" fill="rgb(70, 70, 70)" />
						<animateTransform attributeName="transform" type="rotate" values="0 35 35; 0 35 35; 0 35 35; 0 35 35; 0 35 35; 180 35 35; 180 35 35; 180 35 35; 180 35 35; 180 35 35; 0 35 35; 0 35 35; 0 35 35; 0 35 35; 0 35 35; -180 35 35; -180 35 35; -180 35 35; -180 35 35; -180 35 35; 0 35 35;" dur="20s" repeatCount="indefinite" />
					</g>
				</svg>
			</div>
		</div>
		<div class="download-btn">
			<a target="_self" href="pdf/resume.pdf" download="resume_daniel_dalton.pdf" class="work-btn">Download Resume</a>
		</div>
		<pdf-viewer
			canvas-id="'my-canvas'"
			pdf-url="'pdf/resume.pdf'">
		</pdf-viewer>
	</div>
</div>